<!-- TODO: pluralize-->
<div class="page-separator">
 <h5 class="text-center">Preferences</h5>
</div>

<div class="settings-slider-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="settings-card">
      <%= image_tag "icons/wind_grey.svg", class: "preferences-icon"%>
        <h5 class="text-center">
          <span id="minWindSpan"><%= current_user.pref_wind_speed_min %></span> to
          <span id="maxWindSpan"><%= current_user.pref_wind_speed_max %></span> knots
        </h5>
        <div class="slider-container">
          <input id="wind-slider" type="text" class="slider" value="" data-slider-min="0" data-slider-max="40" data-slider-step="1" data-slider-value="[<%= current_user.pref_wind_speed_min %>,<%= current_user.pref_wind_speed_max %>]"/>
          </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="settings-card">
      <%= image_tag "icons/wave_grey.svg", class: "preferences-icon" %>
        <h5 class="text-center">
          <span id="minWaveSpan"> <%= current_user.pref_wave_height_min %> </span> to
          <span id="maxWaveSpan"> <%= current_user.pref_wave_height_max %> </span> meters
        </h5>
        <div class="slider-container">
          <input id="wave-slider" type="text" class="slider" value="" data-slider-min="0" data-slider-max="5" data-slider-step="0.5" data-slider-value="[<%= current_user.pref_wave_height_min %>,<%= current_user.pref_wave_height_max %>]"/>
        </div>
        <%= simple_form_for([ current_user ], :url => change_users_path, :method => :patch, remote: true, html: { class: "hidden"}) do |form| %>
          <%= form.input :pref_wind_speed_min %>
          <%= form.input :pref_wind_speed_max %>
          <%= form.input :pref_wave_height_min %>
          <%= form.input :pref_wave_height_max %>
          <%= form.button :submit, id: "trigger_user_patch" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-separator spots-separator">
 <h5 class="text-center">My Spots</h5>
</div>

<div class="container">
     <div class='row'>
        <% current_user.spots.each do |spot| %>
          <div class='col-xs-12 col-lg-4 container container-center-elements'>
            <div class="beach-card">
              <div class="beach-info">
                <h3><%= spot.name %></h3>
                <p><%= spot.country %></p>
              </div>
              <div class="beach-actions">
                <%= link_to favorite_spot_path(spot), method: :delete do %>
                   <i class="fas fa-minus-circle"> </i>
                <% end %>
              </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="page-separator spots-separator">
  <h5 class="text-center">Add a new Spot</h5>
</div>

<div class="container">
 <div class='row'>
  <div class='col-xs-12 container container-center-elements'>
    <div class="new-beach-card">
      <div class="form">
        <%= simple_form_for [@favorite_spot] do |f| %>
          <%= f.association :spot, collection: Spot.order('name ASC'),
                            prompt: "Select a Spot",
                            label: false
          %>
          <div class="container-space-between">
            <%= f.submit "Add from list", class: "btn btn-primary" %>
            <p>or</p>
            <%= link_to "Choose in Map", spots_path, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
   </div>
  </div>
</div>








