<!-- TODO: pluralize-->
<div class="page-separator">
 <h4 class="text-center">Preferences</h4>
</div>


<div class="settings-slider-container">
  <h4 class="text-center">
    <%= image_tag "icons/wind_grey.svg", width: 40 %>
    <span id="minWindSpan"><%= wind_min %></span> to
    <span id="maxWindSpan"><%= wind_max %></span> knots
  </h4>
  <div class="slider-container">
    <input id="wind-slider" type="text" class="slider" value="" data-slider-min="0" data-slider-max="40" data-slider-step="1" data-slider-value="[<%= wind_min %>,<%= wind_max %>]"/>
  </div>
  <h4 class="text-center">
    <%= image_tag "icons/wave_grey.svg", width: 40 %>
    <span id="minWaveSpan"> <%= waves_min %> </span> to
    <span id="maxWaveSpan"> <%= waves_max %> </span> meters
  </h4>
  <div class="slider-container">
    <input id="wave-slider" type="text" class="slider" value="" data-slider-min="0" data-slider-max="5" data-slider-step="0.5" data-slider-value="[<%= waves_min %>,<%= waves_max %>]"/>
  </div>
</div>

<div class="page-separator spots-separator">
 <h4 class="text-center">My Spots</h4>
</div>

<div class="container-center-elements">
<div class='card-wrapper'>
   <% current_user.spots.each do |spot| %>
     <div class='row'>
        <div class='col-xs-12 col-sm-4'>
          <div class="beach-card">
            <div class="beach-info">
              <h3><%= spot.name %></h3>
              <p><%= spot.country %></p>
            </div>
            <div class="beach-actions">
              <%= link_to favorite_spot_path(spot), method: :delete do %>
                 <i class="fas fa-minus-circle"> </i>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  <% end %>
    <div class="new-beach-card">
      <div class="form">
      <%= simple_form_for [@favorite_spot] do |f| %>
        <%= f.association :spot %>
        <div class="container-center-elements">
        <%= f.submit "Add new spot", class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
   </div>
  </div>
</div>

<div class="page-separator spots-separator">
  <h4 class="text-center">Something</h4>
</div>

<div class="container-center-elements">
  <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-danger" do %>
  <%= t(".sign_out", default: "Log out") %>
  <% end %>
</div>

