<div class='card-wrapper'>
  <div class='row'>
    <div class='col-xs-12 col-sm-4'>
      <div class='card-container'>
        <div class='card' data-day='<%=forecast.date%>' data-time='<%=forecast.time_slot%>'=>
          <div class='head-weather-container'>
            <%= image_tag "icons/#{forecast.weather_code}.svg", width: 20, height: 20 %>
            <div class='weather-temp'>
            <p><%= forecast.temperature %></p>
            </div>
          </div>
          <div class='card-head-container'>
            <div class='beach-name'>
              <p><%= forecast.spot.name %></p>
            </div>
            <div class='session-icon'>
              <!-- "TODO" -->
            </div>
          </div>
          <div class='card-body-container'>
            <div class='card-wind-container'>
              <div class='wind-icon'>
                <%= image_tag "icons/wind.svg" %>
              </div>
              <div class='wind-speed'>
                <p><%= forecast.wind_speed %><span class='metric'> kts</span></p>
              </div>
              <div class="secondary-info-wind">
                <div class='wind-direction-icon'>
                  <%= image_tag "icons/" + forecast.wind_direction + ".svg" %>
                </div>

                <div class='wind-gusts'>
                  <p><%= forecast.wind_gust %> kts</p>
                </div>
              </div>
            </div>
            <div class='card-wave-container'>
              <div class='wave-icon'>
                <%= image_tag "icons/wave.svg" %>
              </div>
              <div class='wave-heigth'>
                <p><%= forecast.wave_heigth %><span class='metric'> m</span></p>
              </div>
              <div class="secondary-info-wave">
                <div class='wave-direction-icon'>
                  <%= image_tag "icons/" + forecast.wind_direction + ".svg" %>
                </div>
                <div class='wave-period'>
                  <p><%= forecast.wave_period %> sec</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
