<div class="tabs">
  <%= link_to "Mon", "#", class: "tab" %>
  <%= link_to "Tue", "#", class: "tab active" %>
  <%= link_to "Wed", "#", class: "tab" %>
  <%= link_to "Thu", "#", class: "tab" %>
  <%= link_to "Fri", "#", class: "tab" %>
</div>


