<div class="tabs">
  <%= link_to Date.today.strftime("%A")[0,3], "#", class: "tab active" %>
  <%= link_to (Date.today+1).strftime("%A")[0,3], "#", class: "tab" %>
  <%= link_to (Date.today+2).strftime("%A")[0,3], "#", class: "tab" %>
  <%= link_to (Date.today+3).strftime("%A")[0,3], "#", class: "tab" %>
  <%= link_to (Date.today+4).strftime("%A")[0,3], "#", class: "tab" %>
</div>


