<%= content_for(:bars) do %>
  <%= render 'shared/tabs' %>
  <%= render 'shared/timeslottabs' %>
<% end %>

<% if current_user.favorite_spots.empty? %>
  <%= render 'shared/welcome' %>
<% end %>


<div class="container">
<% @forecasts.each do |forecast| %>
  <%= render 'shared/card', sessions: @sessions, forecast: forecast %>
<% end %>
</div>

<script>
  let selectedHour = '11';

  function showCardsForDay(day=null){
    document.querySelectorAll(".card-wrapper").forEach(function(obj) {
      obj.style.display="none";
    });

    let jsday
    if (day==null)
      jsday = new Date().toJSON().slice(0,10)
    else
      jsday = new Date(day).toJSON().slice(0,10)

    showCardsForHour(selectedHour);
  }

  function showCardsForHour(hour){
    console.log(hour);
    selectedHour = hour;

    day = document.querySelector(".active").getAttribute('data-day');

    document.querySelectorAll(".card-wrapper").forEach(function(obj) {
      obj.style.display="none";
    });

    document.querySelectorAll(`[data-day='${day}'][data-time='${hour}']`).forEach(function(obj) {
      obj.style.display="block";
    });
  }

  showCardsForDay();

</script>
